body {
  background-color: #D6B9A4;
  color: #301206;
}

h1 {
text-align: center;
font-family: 'Pacifico', cursive;
font-size: 50px;
}

img {
margin-left: 30%
}

.header3 {
  font-size: 25px;
  color: #301206;
}

.main {
  background-color: #fff;
  border: 18px #522915;
  border-style: outset;
  margin: 0 auto;
  width: 800px;
  padding: 10px;
}
